html,body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
html,body,h1,h2,h3,h4,p,ul,li{
    padding: 0;
    margin: 0;
}
ul {
    list-style: none;
}

img {
    vertical-align: top;
}
body {
    background:url(/assets/images/login_bg.jpg) no-repeat;
    background-size: cover;
}
.header_logo {
padding-top: 20px;
}
.loginAndRegBox {
    font-size: 14px;
    width: 400px;
    height: 310px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.loginAndRegBox a {
    color: #333;
}
.loginAndRegBox a:hover {
    color: #777;
    text-decoration: none;
}
.title {
    height: 60px;
    background:url(/assets/images/login_title.png) no-repeat center;
}
.login-box{
padding: 0 30px;
display: none;

}
.reg-box {
    padding: 0 30px;

}
.login-link,.reg-link{
    display: flex;
    justify-content: flex-end;
}
.layui-form-item {
    position: relative;
}
.layui-form-item .layui-icon {
    position: absolute;
    top: 9px;
    left: 10px;
}
.layui-input {
    padding-left: 35px;
}


