html,body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
html,body,h1,h2,h3,h4,p,ul,li{
    padding: 0;
    margin: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    vertical-align: top;
}
body {
    background:url(/assets/images/login_bg.jpg) no-repeat;
}